


<!DOCTYPE html>
<html>
  <head>
    <title>Song Mood Classification</title>
	<!--META-->
	<meta name="description" content="An automated song mood classier based on song lyrics analysis.">
    <meta name="Author" content="Sebastian Raschka">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

      <!-- Main Navigation Bar START -->

  	<a href = "http://sebastianraschka.com"><img src="{{ url_for('static', filename='images/title_text.png') }}" id="title_img"></a>

      <ul class="navbar">
          <li><a href="http://sebastianraschka.com/articles.html">blog</a></li>
          <li><a href="http://sebastianraschka.com/webapps.html">webapps</a></li>
          <li><a href="http://sebastianraschka.com/projects.html">projects</a></li>
  	    <li><a href="http://sebastianraschka.com/publications.html">books</a></li>
  	    <li><a href="http://sebastianraschka.com/contact.html">about+contact</a></li>
      </ul>


	  <h1 class='caption1'>A Music Mood Classifier Based on Lyrics</h1>


    <div class='min-bodyheight'>


		<script>
		function goBack() {
		    window.history.back()
		}
		</script>


      <p><strong>Artist name:</strong> {{artistname}}</p>
      <p><strong>Song title:</strong> {{songtitle}}</p>
	  
      <h3>{{lyrics}}</h3>
	  
	  <div style='height:70px'></div>
	 
	  
	  <button onclick="goBack()">Try again</button>
	  


	  
    </div>


<!-- START Footer -->
	<div class ='footer'>
        <hr>
        &copy; 2013-present Sebastian Raschka |<a href="https://twitter.com/rasbt">@rasbt</a> <a href="mailto:se.raschka@gmail.com">email</a> <a href="http://sebastianraschka.com/rss_feed.xml">rss</a>
	    <hr>
    </div>
<!-- END Footer -->

<!-- Start Google Analytics -->
	<script type="text/javascript">

  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-38457794-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
<!-- End  Google Analytics -->

  </body>
</html>
