Django==1.7.1
Flask==0.10.1
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
cssselect==0.9.1
itsdangerous==0.24
lxml==3.4.1
nltk==3.0.0
numpy==1.9.1
scikit-learn==0.15.2
scipy==0.14.0
wsgiref==0.1.2
